<header>
  <nav class="navbar navbar-expand-sm p-3 bg-glass">
    <div class="container-fluid">
      <a routerLink="/" class="navbar-brand me-4" ariaCurrentWhenActive="page">Navbar</a>
      <button class="navbar-toggler btn-no-border" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="material-symbols-outlined" id="menu-icon-span">
          menu
        </span>
      </button>

      <!-- Navigation items -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav=item">
            <a routerLink="/cases" class="nav-link" ariaCurrentWhenActive="page">Cases</a>
          </li>
          <li class="nav-item">
            <a routerLink="/planos" class="nav-link" ariaCurrentWhenActive="page">Planos</a>
          </li>
          <li class="nav-item">
            <a routerLink="/sobre" class="nav-link" ariaCurrentWhenActive="page">Sobre</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>