/* You can add global styles to this file, and also import other style files */

$h2-font-size: 16px;

h2 {
    font-size: $h2-font-size;
}

.btn-no-border {
    padding: 0;
    border: none;
    background: none;
}

.bg-glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}