<div id="home-container" class="px-3 py-5">
  <div class="block-container">
    <h1 class="mb-4 text-center">
      Tenha uma <b>rádio profissional</b> exclusiva para o seu negócio!
    </h1>
    <p class="text-center mb-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam aperiam aut cumque porro vitae
      quisquam quod
    </p>
    <div class="btn-container">
      <button class="app-btn" id="intro-btn">
        Fale conosco
      </button>
    </div>
  </div>
</div>